/* ------------- Normalize styles ------------- */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

button {
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;
  margin: 0;
}

button,
[type="button"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[hidden] {
  display: none;
}

/* ------------- END - Normalize styles ------------- */


/* ------------- Fonts ------------- */

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ------------- Сommon styles ------------- */

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;

  background-color: #ffffff;
}

.container {
  position: relative;

  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;

  cursor: default;
}

.button {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 30px;

  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 40px;

  transition: all 0.3s;
}

/*.button_orange {
  color: #ffffff;

  background-color: #f3971f;
  border: 1px solid #f3971f;
}

.button_orange:hover,
.button_orange:focus {
  background-color: #ffc854;
  border: 1px solid #ffc854;
}

.button_orange:active {
  background-color: #bb6900;
  border: 1px solid #bb6900;
}*/

.button_green {
  color: #ffffff;

  background-color: #15a865;
  border: 1px solid #15a865;
}

.button_green:hover,
.button_green:focus {
  color: #00783a;

  background-color: #5adb93;
  border: 1px solid #5adb93;
}

.button_green:active {
  background-color: #00783a;
  border: 1px solid #00783a;
}

.button_lightorange {
  color: #f3971f;

  background-color: #ffffff;
  border: 1px solid #f3971f;
}

.button_lightorange:hover,
.button_lightorange:focus {
  background-color: #eadfc8;
}

.button_lightorange:active {
  color: #ffffff;

  background-color: #f3971f;
}

/*.button_lightgreen {
  color: #15a865;

  background-color: #ffffff;
  border: 1px solid #15a865;
}

.button_lightgreen:hover,
.button_lightgreen:focus {
  background-color: #c9e3d4;
}

.button_lightgreen:active {
  color: #ffffff;

  background-color: #15a865;
}*/


/* ------------- Mobile styles (320px) ------------- */

.container {
  width: 320px;

  text-align: center;
}

/* ------------- Blog - Main page ------------- */

.blog__header {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  text-align: left;
}

.blog__button_select {
  position: relative;

  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px 20px;

  font-family: 'open_sansbold', Arial, sans-serif;
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;

  background-color: #efece7;
  border-radius: 8px;
}

.blog__button_select::after {
  content: '';

  position: absolute;
  top: 50%;
  right: 16px;

  display: block;
  width: 13px;
  height: 8px;

  background-image: url(../images/icons/select-arrow-icon.svg);
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.blog__button_select_active {
  margin-bottom: 0;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.blog__button_select_active::after {
  transform: rotate(180deg);
}

.blog__tags-list {
  display: none;
}

.blog__tags-list_active {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 0;

  list-style-type: none;

  background-color: #efece7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.blog__button_tags {
  justify-content: flex-start;
  width: 100%;
  padding: 7px 20px;

  font-size: 11px;
  color: #000000;

  background-color: #efece7;
  border: none;
  border-radius: 0;
}

.blog__button_tags:hover,
.blog__button_tags:active,
.blog__button_tags_current {
  color: #ffffff;

  background-color: #1e8d43;
  border: none;
}

.blog__articles-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.blog__articles-item {
  margin-bottom: 20px;
}

.blog__articles-link {
  display: block;
}

.article-preview__image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.article-preview__content {
  padding: 20px;

  text-align: left;

  background-color: #efece7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.article-preview__tag {
  margin: 0;
  margin-bottom: 10px;

  text-transform: uppercase;
  color: #000000;
}

.article-preview__header {
  margin: 0;
  margin-bottom: 10px;

  font-family: 'open_sansbold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
}

.article-preview__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  color: #000000;
}

.article-preview__time {
  font-size: 13px;
  color: #898989;
}


/* ------------- Blog - Article ------------- */




/* ------------- Tablet styles (768px) ------------- */

@media screen and (min-width: 768px) {

  /*.container {
    width: 768px;
  }*/


  /* ------------- Blog - Main page ------------- */


  /* ------------- Blog - Article ------------- */


}


/* ------------- Desktop styles (1200px) ------------- */

@media screen and (min-width: 1280px) {

  /*.container {
    width: 1200px;
  }*/


  /* ------------- Blog - Main page ------------- */


  /* ------------- Blog - Article ------------- */


}


/* ------------- Slick ------------- */

/* ------------- Slick - Main styles ------------- */

/*.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media screen and (min-width: 768px) {

  .slick-initialized .slick-slide
  {
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      -o-flex-wrap: nowrap;
      flex-wrap: nowrap;
  }

}*/

/* ------------- Slick - Theme styles ------------- */

/*.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

.slick-dots
{
    position: absolute;
    bottom: 25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: Arial, sans-serif;
    font-size: 30px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    color: #c4c4c4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    color: #15a865;
}

@media screen and (min-width: 768px) {

  .slick-prev,
  .slick-next {
    top: 91%;

    width: 24px;
    height: 48px;
  }

  .slick-prev,
  .slick-prev:hover,
  .slick-prev:focus {
    background-image: url('../images/icons/arrow-prev-icon.svg');
  }

  .slick-next,
  .slick-next:hover,
  .slick-next:focus {
    background-image: url('../images/icons/arrow-next-icon.svg');
  }

  .slick-prev:before,
  .slick-next:before,
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before {
    opacity: 0;
  }

  .slick-dots {
    bottom: 45px;
  }

  .slick-dots li {
    margin: 0 10px;
  }

  .slick-dots li button:before
  {
    font-size: 40px;
  }

}

@media screen and (min-width: 1280px) {

  .slick-prev,
  .slick-next {
    top: 50%;
  }

}*/

/* ------------- END - Slick ------------- */
