/* ------------- Normalize styles ------------- */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

button {
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;
  margin: 0;
}

button,
[type="button"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[hidden] {
  display: none;
}


/* ------------- Fonts ------------- */

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ------------- Сommon styles ------------- */

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;

  background-color: #ffffff;
}

.container {
  position: relative;

  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;

  cursor: default;
}

.button {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 30px;

  font-family: 'open_sanssemibold', Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 40px;

  transition: all 0.3s;
}

.button_green {
  color: #ffffff;

  background-color: #15a865;
  border: 1px solid #15a865;
}

.button_green:hover,
.button_green:focus {
  color: #00783a;

  background-color: #5adb93;
  border: 1px solid #5adb93;
}

.button_green:active {
  background-color: #00783a;
  border: 1px solid #00783a;
}

.button_lightorange {
  color: #f3971f;

  background-color: #ffffff;
  border: 1px solid #f3971f;
}

.button_lightorange:hover,
.button_lightorange:focus {
  background-color: #eadfc8;
}

.button_lightorange:active {
  color: #ffffff;

  background-color: #f3971f;
}

.button_with-icon {
  padding-left: 40px;
}

.button_with-icon svg {
  position: relative;
  left: -15px;
}


/* ------------- Mobile styles (320px) ------------- */

.container {
  width: 300px;
  padding: 40px 0;
}

.container_center {
  text-align: center;
}

/* ------------- Blog - Main page ------------- */

.blog__header {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  text-align: left;
}

.blog__button_select {
  position: relative;

  width: 100%;
  height: 40px;
  padding: 10px 20px;

  font-family: 'open_sansbold', Arial, sans-serif;
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;

  background-color: #efece7;
  border-radius: 8px;
}

.blog__button_select::after {
  content: '';

  position: absolute;
  top: 50%;
  right: 20px;

  display: block;
  width: 13px;
  height: 8px;

  background-image: url(../images/icons/select-arrow-icon.svg);
  background-repeat: no-repeat;

  transform: translateY(-50%);
  transition: transform 0.3s;
}

.blog__button_select_active {
  margin-bottom: 0;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.blog__button_select_active::after {
  transform: rotate(180deg) translateY(50%);
}

.blog__tags-list {
  display: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  list-style-type: none;

  background-color: #efece7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.blog__button_tags {
  justify-content: flex-start;
  width: 100%;
  padding: 7px 20px;

  font-size: 11px;
  color: #000000;

  background-color: #efece7;
  border: none;
  border-radius: 0;
}

.blog__button_tags:hover,
.blog__button_tags:active {
  color: #1e8d43;

  background-color: transparent;
  border: none;
}

.blog__button_tags_current,
.blog__button_tags_current:hover,
.blog__button_tags_current:active {
  color: #ffffff;

  background-color: #1e8d43;
  border: none;

  cursor: default;
}

.blog__articles-list {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;

  list-style-type: none;
}

.blog__articles-item {
  margin-bottom: 20px;
}

.blog__articles-item:last-child {
  margin-bottom: 0;
}

.article-preview__image {
  width: 100%;
  height: auto;
  height: 180px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.article-preview__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;

  text-align: left;

  background-color: #efece7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.article-preview__tag {
  margin: 0;
  margin-bottom: 10px;

  text-transform: uppercase;
  color: #000000;
}

.article-preview__tag-link {
  color: #000000;

  transition: color 0.3s;
}

.article-preview__tag-link:hover,
.article-preview__tag-link:focus {
  color: #1e8d43;
}

.article-preview__header {
  margin: 0;
  margin-bottom: 10px;

  font-family: 'open_sansbold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
}

.article-preview__header-link {
  color: #000000;

  transition: color 0.3s;
}

.article-preview__header-link:hover,
.article-preview__header-link:focus {
  color: #ed1c24;
}

.article-preview__text {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 10px;

  font-size: 14px;
  color: #000000;
}

.article-preview__time {
  display: block;
  margin-top: 20px;

  font-size: 13px;
  color: #898989;
}


/* ------------- Blog - Article ------------- */

.blog-article {
  text-align: left;
}

.blog-article__time {
  margin: 0;

  font-size: 13px;
  color: #898989;
}

.blog-article__header {
  margin: 0;
  margin-bottom: 30px;

  font-family: 'open_sansbold', Arial, sans-serif;
  font-size: 18px;
  color: #000000;
}

.blog-article__subheader {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;

  font-family: 'open_sansbold', Arial, sans-serif;
  font-size: 14px;
}

.blog-article__image {
  margin-bottom: 30px;
}

.blog-article__text {
  margin: 0;
  margin-bottom: 20px;
}

.blog-article__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.blog-article__list-item {
  margin-bottom: 20px;
}

.blog-article__tags {
  margin-top: 30px;
  margin-bottom: 20px;
}

.blog-article__tags-header {
  margin: 0;
  margin-bottom: 5px;

  font-family: 'open_sansbold', Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #000000;
}

.blog-article__tags-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-size: 11px;
  list-style-type: none;
}

.blog-article__tags-item {
  margin-right: 20px;
}

.blog-article__tags-link {
  font-family: 'open_semisansbold', Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #1e8d43;

  opacity: 1;

  transition: opacity 0.3s;
}

.blog-article__tags-link:hover,
.blog-article__tags-link:focus {
  opacity: 0.5;
}

.blog-article__socials {
  margin-bottom: 30px;
}

.blog-article__socials-header {
  margin: 0;
  margin-bottom: 10px;

  font-size: 13px;
  color: #898989;
}

.blog-article__socials-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.blog-article__socials-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.blog-article__socials-item:last-child {
  margin-right: 0;
}

.blog-article__socials-link {
  opacity: 1;

  transition: opacity 0.3s;
}

.blog-article__socials-link:hover,
.blog-article__socials-link:focus {
  opacity: 0.5;
}

.blog-article__socials-number {
  margin-left: 8px;

  font-size: 12px;
}

.blog-article__comments {
  margin-bottom: 30px;
}

.additional-articles {
  display: none;
}


/* ------------- Tablet styles (768px) ------------- */

@media screen and (min-width: 768px) {

  .container {
    width: 708px;
  }

  /* ------------- Blog - Main page ------------- */

  .blog__header {
    margin-bottom: 30px;

    font-size: 30px;
  }

  .blog__tags-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    text-align: left;
  }

  .blog__button_select {
    flex-shrink: 0;
    width: auto;
    height: auto;
    margin: 0;
    margin-right: 10px;
    padding: 0;

    line-height: 30px;

    background-color: transparent;
    border-radius: 0;

    cursor: default;
  }

  .blog__button_select::after {
    display: none;
  }

  .blog__tags-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0;

    background-color: transparent;
    border-radius: 0;
  }

  .blog__tags-item {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .blog__button_tags {
    font-family: 'open_sansregular', Arial, sans-serif;

    background-color: transparent;
    border-radius: 40px;
  }

  .blog__button_tags_current {
    font-family: 'open_sanssemibold', Arial, sans-serif;

    background-color: #1e8d43;
  }

  .blog__articles-list {
    margin-bottom: 50px;
  }

  .article-preview {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .article-preview__image {
    height: 400px;
  }

  .article-preview__tag {
    margin-bottom: 20px;
  }

  .article-preview__time {
    margin-top: 30px;
  }

  .additional-articles {
    display: block;
  }

  .additional-articles .blog__articles-item,
  .additional-articles .blog__articles-item:first-child {
    margin-right: 20px;
  }

  .additional-articles .article-preview__image,
  .additional-articles .blog__articles-item:first-child .article-preview__image {
    height: 194px;
  }

  /* ------------- Blog - Article ------------- */

  .blog-article__header {
    font-size: 30px;
  }

  .blog-article__subheader {
    font-size: 18px;
  }

  .blog-article__tags {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    margin: 40px 0;
  }

  .blog-article__tags-header {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .blog-article__socials {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
  }

  .blog-article__socials-header {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .blog-article__socials-item {
    margin-right: 25px;
  }

  .blog-article__comments {
    margin-bottom: 50px;
  }

}


/* ------------- Desktop styles (1024px) ------------- */

@media screen and (min-width: 1024px) {

  .container {
    width: 980px;
  }

  /* ------------- Blog - Main page ------------- */

  .blog__header {
    font-size: 44px;
  }

  .blog__articles-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blog__articles-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 480px;
  }

  .blog__articles-item:first-child {
    width: 100%;
  }

  .blog__articles-item:first-child .article-preview__image {
    height: 550px;
  }

  .blog__articles-item:last-child {
    margin-bottom: 20px;
  }

  .article-preview__image {
    height: 280px;
  }

  .additional-articles .article-preview__image,
  .additional-articles .blog__articles-item:first-child .article-preview__image {
    height: 180px;
  }

  .article-preview__time {
    margin-top: 20px;
  }

}


/* ------------- Slick ------------- */

/* ------------- Slick - Main styles ------------- */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* ------------- Slick - Theme styles ------------- */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -40px;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: 1px solid #fba63b;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  transition: background-color 0.3s;
}

.slick-prev::after,
.slick-next::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 11px;
  background-image: url('../images/icons/arrow-icon.svg');
  background-repeat: no-repeat;
  transform: translateX(-50%) translateY(-50%);
}

.slick-next::after {
  transform: rotate(180deg) translateX(50%) translateY(50%);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background-color: #eadfc8;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,
.slick-next:before {
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  right: 50px;
}

.slick-prev:before {
  content: '←';
}

.slick-next {
  right: 0;
}

.slick-next:before {
  content: '→';
}

/* ------------- END - Slick ------------- */
